:host {
    --lumo-primary-color: green;
    --lumo-primary-contrast-color: white;
}
* {
    font-weight: bold;
    font-size: 10px;
}

.primary {
    background-color: darkgray;
}
.wrapper-subject-fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.custom-margin-top {
    margin-top: 33px;
}