:host(.clicked-active) {
    background-color: red !important;
}

.primary {
    background-color: darkgray;
}
.wrapper-subject-fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.custom-margin-top {
    margin-top: 33px;
}
